body{
    background-color: black;
}

div {
    background-color: black;

    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    text-align: center;

    border: 1px solid white;
    border-radius:6px;

    font-size: 40px;
    color: white;

}
