<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div><h1>Всем привет, этот сайт - моя личная галлерея, в которой я буду выкладывать свои работы, что бы ознакомиться с ними перейдите в <a href="http://{{ IP }}:{{PORT}}/catalog">каталог</a></h1></div>
</body>
</html>